body{
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #000;
	background-image: url(assets/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

*{color: #FFF;}

.naveJogo{
	width: 40px;
	height: 40px;
	position: absolute;
	background-image: url(assets/nave_jog.gif);
	background-repeat: no-repeat;
}

.telaMsg{
	position: absolute;
	margin-left: -25%;
	top: 50px;
	left: 50%;
	width: 720px;
	height: 621px;
	display: none;
}

#medidorPlaneta{
	border: 2px solid #000;
	width: 300px;
	height: 20px;
	background-color: #FFF;
}

#barraPlaneta{
	width: 300px;
	height: 20px;
	background-color: #55F;
}

.tiroJogador{
	width: 6px;
	height: 6px;
	background-color: #FFF;
	border-radius: 6px;
	position: absolute;
}

.bomba{
	width: 24px;
	height: 40px;
	background-image: url(assets/bomba.gif);
	position: absolute;
}

.explosaoChao{
	width: 55px;
	height: 57px;
	position: absolute;
}

.explosaoAr{
	width: 70px;
	height: 70px;
	position: absolute;
}

.telaMsg{
	width: 720px;
	height: 621px;
	position: absolute;
	margin-left: -25%;
	top: 20px;
	left: 50%;
	display: none;
}

button{
	width: 100px;
	height: 35px;
	border: none;
	color: #000;
	background-color: #6495ED;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}

button:hover{
	color: #6495ED;
	background-color: #000;
}